{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">

{{widget('extendednavigation', 'tabletnavigation', {})|raw}}

<div class="canvas-outer">
<div class="canvas-inner">

<header class="bk-header">
    <div class="wrapper clearfix">
        <div class="desktop-companyaddress">
            {{widget('companyaddress', 'desktopcompanyaddress', {})|raw}}
        </div>
        <div class="companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="tablet-companyaddress">
            {{widget('companyaddress', 'tabletcompanyaddress', {})|raw}}
        </div>
        <div class="header-content">
            {{widget('content', 'headercontent', {"content":"<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"})|raw}}
        </div>
    </div><!--end wrapper clearfix-->
</header>

<div class="main wrapper clearfix">
    {{widget('line', 'lineone', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}
    {{zone('main')|raw}}   
</div>

</div><!-- end canvas-inner -->
</div><!-- end canvas-outer -->


<footer class="bk-footer">
    <div class="wrapper clearfix">
        {{widget('socialicons', 'footercolumn1socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
</footer>

</div>

{% endblock %}
